body {
  width: auto;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  color: limegreen;
}

.bike-station {
  border: 1px solid #000;
  background-color: #0099cc;
  margin: 3px;
  padding: 7px;
  border-radius: 7px;
}

a:link {
  text-decoration: none;
}

.bike-station .title {
  font-weight: bold;
  color: #006600;
}

.bike-station .bikes {
  font-size: 14px;
}

.bike-station .distance {
  font-size: 14px;
}

.google-map {
  width: 100%;
  height: 100%;
}

.marker-text-available {
  text-align: center;
  position: absolute;
  text-align: center;
  top: 20px;
  font-size: 17px;
  width: 64px;
  height: 100px;
}

.marker-station-name {
  position: absolute;
  text-align: center;
  top: -25px;
  left: -20px;
  font-size: 17px;
  font-weight: bold;
  width: 120px;
  z-index: 100;
  display: none;
}

.map-marker .marker-graphic {
  position: absolute;
  background-image: url('/public/images/marker2r.png');
  width: 64px;
  height: 64px;
}

div:hover + div, div:active + div {
  display: block;
}
