body {
  width: auto;
  margin: auto;
  font-family: sans-serif;
}

h1 {
  color: limegreen;
}

.bike-station {
  border: 1px solid #000;
  background-color: #0099cc;
  margin: 3px;
  padding: 7px;
  border-radius: 7px;
}

a:link {
  text-decoration: none;
}

.bike-station .title {
  font-weight: bold;
  color: #006600;
}

.bike-station .bikes {
  font-size: 14px;
}

.bike-station .distance {
  font-size: 14px;
}

.google-map {
  width: auto;
  height: 600px;
}

.marker-text-available {
  border: 1px solid #000;
  background-color: #0099cc;
  margin: 3px;
  padding: 3px;
  width: 130px;
  text-align: center;
  position: absolute;
  top: -40px;
  left: -50px;
  display: none;
  z-index: 100;
}

.map-marker .marker-graphic {
  position: absolute;
  text-align: center;
  border: 2px solid #000;
  background-color: #006600;
  width: 15px;
  height: 15px;
  left: 12px;
  border-radius: 10px;
}

div:hover + div, div:active + div {
  display: block;
}
